@model DolPic.Data.Pos.UserPo

<script src="/Js/jquery.placeholder.min.js"></script>
<!-- 구글 광고 -->
@Html.Partial("_GoogleAdTop")
@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "form1" }))
{
    <!-- 회원가입/로그인 -->
    <div class="login_box">
	    <p>아이돌, 유명 연예인 SNS 이미지를 한 번에 모아보세요.</p>
        @Html.TextBoxFor(m => m.UserId, new { @maxlength=12, placeholder="아이디" })
        @Html.PasswordFor(m => m.UserPwd, new { @maxlength=20, placeholder="패스워드" })
        <div class="clear"></div>
        <div class="btn_signup">회원가입</div>
        <div class="btn_login">로그인</div>
    </div>
    @Html.HiddenFor(m => m.ReferUrl,  new { @value=Model.ReferUrl })
}

@section scripts
{
    <script type="text/javascript">
        $(function () {
            $('.btn_signup').live('click', function () { fnSignUp(); });
            $('.btn_login').live('click', function () { fnLogIn(); });

            // 웹뷰 통신
            window.dolpic.navibtn(0, 0, 0);
        });

        var blank_pattern = /^\s+|\s+$/g;
        var input_pattern = /^[A-Za-z0-9+]{4,12}$/; 

        function fnSignUp() {
            if ($("#UserId").val().replace(blank_pattern, "") == "") {
                alert("아이디를 입력해주세요.");
                return;
            }

            if ($("#UserPwd").val().replace(blank_pattern, "") == "") {
                alert("패스워드를 입력해주세요.");
                return;
            }
            
            if (!input_pattern.test($("#UserId").val())) {
                alert("아이디는 숫자, 영문으로 4자에서 12자까지 가능합니다."); 
                return;
            }

            $('#form1').attr('action', '/User/SignUp');
            $("#form1").submit();
        }

        function fnLogIn() {
            if ($("#UserId").val().replace(blank_pattern, "") == "") {
                alert("아이디를 입력해주세요.");
                return;
            }

            if ($("#UserPwd").val().replace(blank_pattern, "") == "") {
                alert("패스워드를 입력해주세요.");
                return;
            }

            $('#form1').attr('action', '/User/LogInProc');
            $("#form1").submit();
        }

        function fnImageDownload() {
            alert("이미지 보기 화면에서 다운로드가 가능합니다.");
        }
    </script>
}