<a name="top"></a>
<!-- 상단바 -->
<div class="tbar">
	<div class="wrapper">
		<h1><a href="/"><img src="/Images/logo.png" width="20" height="20"> DolPic</a></h1>
		<h5>돌픽 | 아이돌, 유명 연예인 SNS 이미지 모음</h5>
        @if (string.IsNullOrEmpty(ViewBag.User))
        {
		    @:<div class="btn_login" title="로그인" onclick="location.href='/User/LogIn';"></div>
        }
        else
        {
            @:<div class="btn_login" title="로그아웃" onclick="location.href='/User/LogOut';"></div>
        }
	</div>
</div>
