<a name="top"></a>
<!-- 상단바 -->
<div class="tbar">
	<div class="wrapper">
		<h1><a href="/"><img src="/Images/logo.png" width="20" height="20"> DolPic</a></h1>
		<h5>돌픽 | 아이돌, 유명 연예인 SNS 이미지 모음</h5>
        @if (string.IsNullOrEmpty(ViewBag.User))
        {
		    @:<div class="btn_login" title="로그인" onclick="location.href='/User/LogIn';"></div>
        }
        else
        {
            @:<div class="btn_login" title="로그아웃" onclick="location.href='/User/LogOut';"></div>
        }
	</div>
</div>

<!-- 즐겨찾기 -->
<div class="fbar">
	<div class="fbar_wrap">
        @if (string.IsNullOrEmpty(ViewBag.User))
        {
		    @:<span class="on">로그인 후 사용가능</span>
        }
		<span><a href="/">최신 업로드 이미지</a></span>
        <div class="flist">
		    <span>에이핑크 <a href="#">X</a></span>
		    <span>+++@ViewBag.User <a href="#">X</a></span>
        </div>
		<div class="clear"></div>
	</div>
</div>