<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1.0, user-scalable=no">
    <meta name="description" content="오늘 뭐 먹지 고민하는 분들을 위한 사이트, 더치페이 계산기">
    <meta name="keywords" content="오늘 점심 뭐 먹지, 점심, 밥집, 추천, 맛집, 더치페이, 계산기">
    <meta property="og:title" content="오늘 뭐 먹지?">
    <meta property="og:type" content="article">
    <meta property="og:image" content="/images/icon.png">
    <meta property="og:description" content="오늘 뭐 먹지 고민하는 분들을 위한 사이트, 더치페이 계산기">
    <title>오늘 뭐 먹지?</title>
    <link rel="apple-touch-icon" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/font/font.css">
    <link rel="stylesheet" type="text/css" href="/css/lunch.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    @Html.Partial("_GoogleAnalytic")
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", false)
</body>
</html>
