<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig
  xmlns="http://ibatis.apache.org/dataMapper"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
    <setting cacheModelsEnabled="true"/>
    <setting validateSqlMap="false"/>
  </settings>

  <providers embedded="Configs.providers.config, DolPic.Data" />

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="DolPic" connectionString="Data Source=127.0.0.1;Initial Catalog=DolPics;Persist Security Info=True;User ID=;Password="/>
  </database>

  <!--XML 경로를 지정합니다-->
  <sqlMaps>
    <sqlMap embedded="DolPic.Data.SqlMaps.DolPic.xml, DolPic.Data" />
    <sqlMap embedded="DolPic.Data.SqlMaps.Admin.xml, DolPic.Data" />
  </sqlMaps>

</sqlMapConfig>
