@{
    Layout = null;

    var list = ViewBag.DataList;
}
<ul class="hot_box">
	<li class="title">오늘의 핫돌픽</li>
    @{
        var sImg = "";
    }
    @foreach (var item in list)
    {
        string sTagUrlType = item.TagUrlType.ToString();
        switch (sTagUrlType)
        {
            case "1":
                sImg = "sns_twitter.png";
                break;

            case "2":
                sImg = "sns_instagram.png";
                break;

            case "3":
                sImg = "sns_facebook.png";
                break;

            default:
                sImg = "sns_twitter.png";
                break;
        }
       <li><img src="/Images/@sImg" width="16" height="16" alt="Facebook"> <a href="#">#@item.HashTag</a> <span>@string.Format("{0:N0}", item.LikeCnt) <img src="/Images/icon_like.png" height="16"></span></li> 
    }
</ul>
