@{
}
<!-- 회원가입/로그인 -->
<div class="login_box">
	<p>아이돌, 유명 연예인 SNS 이미지를 한 번에 모아보세요.</p>
	<input type="text" onfocus="if(this.value == '아이디') { this.value = ''; }" value="아이디">
	<input type="password" onfocus="if(this.value == 'password') { this.value = ''; }" value="password">
    <div class="clear"></div>
    <div class="btn_signup">회원가입</div>
    <div class="btn_login">로그인</div>
</div>
